<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>İbrahim Şakar</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/slick.css"/>
    <link rel="stylesheet" type="text/css" href="css/slick-theme.css"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
    <header>
        <div class="cat-menus">
            <div class="container">
                <div class="row">
                    <div class="col-md-3"><a href="#">anasayfa</a></div>
                    <div class="col-md-3"><a href="#">anasayfa</a></div>
                    <div class="col-md-3"><a href="#">anasayfa</a></div>
                    <div class="col-md-3"><a href="#">anasayfa</a></div>
                    <div class="col-md-3"><a href="#">anasayfa</a></div>
                    <div class="col-md-3"><a href="#">anasayfa</a></div>
                    <div class="col-md-3"><a href="#">anasayfa</a></div>
                    <div class="col-md-3"><a href="#">anasayfa</a></div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 pl">
                    <div class="logo">
                        <a href="/"> <xmp><iş/></xmp> </a>
                    </div>
                </div>
                <div class="col-md-9 pr">
                    <div class="menu">
                        <ul>
                            <li><a href="/">anasayfa</a></li>
                            <li><a href="/about">hakkımda</a></li>
                            <li><a href="#">kategori</a></li>
                            <li><a href="/contact">iletişim</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>