<% include ./partials/header %>
<div class="main-head"></div>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-8 p0">
                    <section>
                        <div class="title">
                            <h1>Hakkımda</h1>
                        </div>
                        <article>
                        <div class="post-center">
                            <p>Merhaba ben İbrahim Şakar, Trakya üniversitesi'nde Bilgisayar Teknolojisi ve Bilişim Sistemleri 3.sınıf öğrencisiyim.
                             2013 yılından bu yana programlama ile ilgileniyorum. Swift ve Javascript programlama dillerinde uygulama geliştiriyorum. <br>                                
                            
                            </p>
                            <div class="clearfix"></div>
                        </div>
                        </article>
                    </section>
                </div>
                <div class="col-md-4">
                    <div class="right-boxex">
                        <div class="box">
                            <div class="search">
                                <form action="">
                                    <input type="text" placeholder="Arama Yap...">
                                    <input type="submit" value="">
                                    <span class="fa fa-search"></span>
                                </form>
                            </div>
                            <div class="social-media">
                                <ul>
                                    <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                                    <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                    <li><a href="#"><span class="fa fa-youtube"></span></a></li>
                                    <li><a href="#"><span class="fa fa-pinterest"></span></a></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="box">
                            <div class="categories">
                                <h1>Kategoriler</h1>
                                <ul>
                                    <li><a href="#">HTML - CSS</a></li>
                                    <li><a href="#">Javascript</a></li>
                                    <li><a href="#">Swift</a></li>
                                    <li><a href="#">C#</a></li>
                                    <li><a href="#">Java</a></li>
                                    <li><a href="#">Python</a></li>
                                    <li><a href="#">Bilim ve Teknoloji</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<% include ./partials/footer %>